{{#each this}}
  <div class='card'>
    <h1 class='card-country'>{{name}}</h1>
    <div class='card-box'>
      <div class='card-body'>
        <p class='capital'><span class='bold-text'>Capital:</span>
          {{capital}}</p>
        <p class='people'><span class='bold-text'>Population:</span>
          {{population}}</p>
        <ul class='languages'><span class='bold-text'>Languages:</span>
          {{#each languages}}
            <li class='speech'>{{this.name}}</li>
          {{/each}}
        </ul>
      </div>
      <div class='card-img'>
        <img src={{flag}} alt={{name}} width='300px' />
      </div>
    </div>
  </div>
{{/each}}